.your {
  margin-right: 900px;
  margin-top: 30px;
  font-family: Questrial, sans-serif;
  font-size: 16px;
  color: rgb(139, 139, 143);
}

.line2 {
  display: grid;
  grid-template-columns: repeat(6, 17%);
  height: 50px;
  width: 1000px;
  margin: auto;
  font-family: Questrial, sans-serif;
  font-size: 12px;
  color: rgb(139, 139, 143);
}

.line3 {
  display: grid;
  grid-template-columns: repeat(6, 18%);
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 150px;
  width: 1000px;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: Questrial, sans-serif;
  font-size: 12px;
  color: rgb(139, 139, 143);
}

.cartimage {
  height: 100px;
  width: 100px;
}

.bottom {
  font-family: Questrial, sans-serif;
  font-size: 12px;
  color: rgb(139, 139, 143);
  margin-left: 800px;
}

.btn {
  height: 40px;
  width: 250px;
  background-color: rgb(185, 56, 112);
  color: white;
  font-family: Questrial, sans-serif;
  font-size: 12px;
  border: none;
}

.quantityDiv * {
  box-sizing: border-box;
}
.quantityDiv button {
  background: none;
  border: none;
}
.quantityDiv span,
.quantityDiv button {
  display: inline-block;
  padding: 3px 10px;
  border: 1px solid rgb(139, 139, 143);
}

.del {
  background-color: white;
  border-radius: 5px;
  width: 100px;
  color: rgb(139, 139, 143);
  border-color: 1px solid rgb(139, 139, 143);
}
