.gif {
  width: 100%;
}

.dresses {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* padding: 8%; */
  font-family: Questrial, sans-serif;
  font-size: 8.96px;
  font-weight: 600;
  color: rgb(139, 139, 143);
}

.text {
  text-decoration: none;
}

.block {
  height: 300px;
  width: 250px;
  color: rgb(139, 139, 143);
  text-decoration: none;
  /* border: 2px solid black; */
}

.dress {
  height: 220px;
  width: 220px;
}
